/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-02-2017, 10:33:26
    Author     : Emil
*/

.backgroundcolor 
{
    -fx-background-color: rgb(134,187,255);
}
.coolFont
{
    -fx-font-family: 'Shadows Into Light',cursive;
    -fx-font-size: 12pt;
}